# dependencies
**/node_modules/

# next.js
**/.next/
**/out/
**/.venv/
**/.ruff_cache/
**/__pycache__/
**/.pytest_cache/
# production
**/build/

# local environment
.env*
!.env.example
#backend/app/local_constants.py

# logs and editor files
*.log
/runtime-logs/
.DS_Store
*.tsbuildinfo
